:host {
  display: block;
  width: 800px;
  margin: 1rem auto;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

tr:hover {
  background: whitesmoke;
  cursor: pointer;
}

.selected-product {
  margin: 1rem;
  margin-top: 2rem;
}
