:host {
  display: block;
  margin: 1rem;
  width: 800px;
}

.add-button {
  margin-bottom: 1rem;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

tr:hover {
  background: whitesmoke;
}

.btn-section {
  margin-top: 1rem;
}

button {
  margin-right: 1rem;
}
