:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav-container {
  display: flex;
  height: 100%;
}

.sidenav {
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.pointer {
  cursor: pointer;
}

.login-container-template {
  display: flex;
  justify-content: center;
}

.h100p {
  height: 100%;
}
