<div class="one-line">
  <mat-form-field appearance="fill">
    <mat-label>Категория</mat-label>
    <mat-select
      [(value)]="selected_category_id"
      (valueChange)="change_category($event)"
    >
      <mat-option [value]="0"> Продукты из всех категорий </mat-option>
      <mat-option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label> Производители</mat-label>
    <mat-select
      [(value)]="selected_manufacturer_id"
      (valueChange)="change_manufacturer($event)"
    >
      <mat-option [value]="0"> Продукты всех производителей </mat-option>
      <mat-option
        *ngFor="let manufacturer of manufacturers"
        [value]="manufacturer.id"
      >
        {{ manufacturer.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input />
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Продукт</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Описание</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Цена</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <ng-container matColumnDef="manufacturer_price">
      <th mat-header-cell *matHeaderCellDef>Цена производителя</th>
      <td mat-cell *matCellDef="let element">
        {{ element.manufacturer_price }}
      </td>
    </ng-container>

    <ng-container matColumnDef="shipping_cost_coefficient">
      <th mat-header-cell *matHeaderCellDef>коэффициент стоимость доставки</th>
      <td mat-cell *matCellDef="let element">
        {{ element.shipping_cost_coefficient }}
      </td>
    </ng-container>

    <ng-container matColumnDef="add_to_cart">
      <th mat-header-cell *matHeaderCellDef>Добавить в корзину</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          (click)="add_shopping_cart(element.id)"
          color="primary"
        >
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="7">Список продуктов пуст.</td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
