:host {
  display: block;
  margin: 1rem;
  width: 800px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr:hover {
  background: whitesmoke;
}

.one-line {
  display: flex;
}
